:root{
   ---colorbackgroud--whitef7: #F7F5F0;
}


body{
    background-color: var(---colorbackgroud--whitef7)  ;
}

.container{
    margin: 0 auto;
    padding: 30px;
    max-width: 1330px;
}
.cabecalho .container{
    display: flex;
  justify-content: space-between;
}



.header-cabecalho img{

}
